.item{
    width: 310px;
    height: 539px;
    display: flex;
    flex-direction: column;
    .img {
        width: 310px;
        height: 356px;
        padding: 24px 0;
        background-color: #fad2d2;
        border-radius: 6px;
    }
    .texts{
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        .Maintext{
            font-weight: 600;
        }
        .Desc{

        }
        .Price{
            color: #808080;
        }
    }

}