@import "Base";
@import "../major_elem/Header";
@import "../major_elem/Explore";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App, body{
    font-family: "Montserrat", sans-serif;
    background-color: #361001;
    button{
        font-family: "Montserrat", sans-serif;
    }
}