.header{
    background-color: #862805;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    height: 130px;
    img{
        max-width: 100px;
        max-height: 100x;
        margin-right: 160px;
    }
    .menu{
        Button{
            font-size: 30px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
        }
    }
}